*{
    font-family: Garamond;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main>*{
    border: 2px solid rgb(0,136,204);
    border-radius: 5px;
}

header, aside, section, footer {
    background-color: rgb(0,191,255);
}